.pagination {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: whitesmoke;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.pagination button {
  font-size: 1em;
  margin: 0 5px;
  user-select: none;
}

.pagination button:not(:disabled) {
  cursor: pointer;
}
