body {
  background-color: whitesmoke;
  padding: 20px;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

a[target='_blank']::after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  margin: 0 3px 0 5px;
}

.app {
  max-width: 700px;
  margin: 0 auto;
}

.loading {
  margin-top: 30px;
}

.slide-forward-enter {
  opacity: 0;
  transform: translateX(-10%);
}
.slide-forward-enter-active {
  opacity: 1;
  transform: translateX(0%);
}
.slide-forward-exit {
  opacity: 1;
  transform: translateX(0%);
}
.slide-forward-exit-active {
  opacity: 0;
  transform: translateX(10%);
}
.slide-forward-enter-active,
.slide-forward-exit-active {
  transition: opacity 1300ms, transform 1300ms;
}

.slide-backward-enter {
  opacity: 0;
  transform: translateX(10%);
}
.slide-backward-enter-active {
  opacity: 1;
  transform: translateX(0%);
}
.slide-backward-exit {
  opacity: 1;
  transform: translateX(0%);
}
.slide-backward-exit-active {
  opacity: 0;
  transform: translateX(-10%);
}
.slide-backward-enter-active,
.slide-backward-exit-active {
  transition: opacity 1300ms, transform 1300ms;
}

.slide-drop-enter {
  opacity: 0;
  transform: translateY(-10%);
}
.slide-drop-enter-active {
  opacity: 1;
  transform: translateY(0%);
}
.slide-drop-exit {
  opacity: 1;
  transform: translateY(0%);
}
.slide-drop-exit-active {
  opacity: 0;
  transform: translateY(10%);
}
.slide-drop-enter-active,
.slide-drop-exit-active {
  transition: opacity 1300ms, transform 1300ms;
}
