body {
  background-color: whitesmoke;
  padding: 20px;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

a[target='_blank']::after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  margin: 0 3px 0 5px;
}

.app {
  max-width: 1100px;
  margin: 0 auto;
}

.loading {
  margin-top: 30px;
}

.slide-forward .slide-enter {
  opacity: 0;
  transform: translateX(10%);
}
.slide-forward .slide-appear-active,
.slide-forward .slide-enter-active {
  opacity: 1;
  transform: translateX(0%);
}
.slide-forward .slide-exit {
  opacity: 1;
  transform: translateX(0%);
}
.slide-forward .slide-exit-active {
  opacity: 0;
  transform: translateX(-10%);
}
.slide-forward .slide-enter-active,
.slide-forward .slide-exit-active {
  transition: opacity 300ms, transform 300ms;
}

.slide-backward .slide-enter {
  opacity: 0;
  transform: translateX(-10%);
}
.slide-backward .slide-appear-active,
.slide-backward .slide-enter-active {
  opacity: 1;
  transform: translateX(0%);
}
.slide-backward .slide-exit {
  opacity: 1;
  transform: translateX(0%);
}
.slide-backward .slide-exit-active {
  opacity: 0;
  transform: translateX(10%);
}
.slide-backward .slide-enter-active,
.slide-backward .slide-exit-active {
  transition: opacity 300ms, transform 300ms;
}

.slide-drop .slide-appear,
.slide-drop .slide-enter {
  opacity: 0;
  transform: translateY(-10%);
}
.slide-drop .slide-appear-active,
.slide-drop .slide-enter-active {
  opacity: 1;
  transform: translateY(0%);
}
.slide-drop .slide-exit {
  opacity: 1;
  transform: translateY(0%);
}
.slide-drop .slide-exit-active {
  opacity: 0;
  transform: translateY(10%);
}
.slide-drop .slide-enter-active,
.slide-drop .slide-exit-active {
  transition: opacity 300ms, transform 300ms;
}
